:root {
  --main-colour: #ffa000;
  --main-colour-light: #ffd149;
  --main-colour-dark: #c67100;

  --grid-gap: 5px;

  --ruler-color: #c67100;

  --header-height: 3rem;
  --footer-height: 3rem;
}

@media screen and (max-width: 768px) {
  :root {

    --grid-gap: 10px;
  }
}

@font-face {
  font-family: 'Lucida Handwriting';
  src: url('../fonts/lHandW.woff') format('woff');
}

body {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  background-color: var(--main-colour);
}
  

h1, h2, h3, p {
  line-height: 1.5
}

h1 {
  font-family: 'Lucida Handwriting', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-size: 2rem;
  margin: 0 0 2rem 0
}

h2 {
  font-size: 1.7rem;
  margin: 0 0 1rem 0
}

h3 {
  font-size: 1.5rem;
  margin: 0
}

p {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  padding: 0
}

p > span#title {
  font-family: 'Lucida Handwriting', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

h2#title {
  font-family: 'Lucida Handwriting', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

h3#title {
  font-family: 'Lucida Handwriting', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

main {
  display: grid;
  background-image: linear-gradient(to left, var(--main-colour-light), var(--main-colour));
  padding: calc(var(--header-height) + 1rem) 1rem calc(var(--footer-height) + 1rem) 1rem;
  z-index: 2;
  min-height: calc(100vh - (var(--header-height) + var(--footer-height) + 4rem));
}

footer {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  width: calc(100% - 1rem);
  height: var(--footer-height);
  background-color: var(--main-colour);
  z-index: 1;
  padding-top: 1rem;
  border-top: solid 1px var(--ruler-color);
}

footer #powered {
  display: grid;
  place-items: start start;
  padding-left: 1rem;
}

footer #copyright {
  display: grid;
  place-items: start center;
}

footer #github {
  display: grid;
  place-items: start end;
  padding-right: 1rem;
}

.footer-icon {
  height: 2rem;
}

header {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: var(--header-height);
  width: calc(100% - 1rem);
  background-color: var(--main-colour);
  z-index: 1;
  border-bottom: solid 1px var(--ruler-color);
}

header > #title {
  display: grid;
  place-items: end center; 
}

header > #page-title {
  display: grid;
  place-items: center start; 
  height: var(--header-height);
  padding-left: 1rem;
}

header > nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center end;  
  padding-right: 1rem;
  height: var(--header-height);
}

#centered {
  display: grid;
  place-items: center center;
}

#landing {
  display: grid;
  height: 90vh;
  justify-items: center;
  align-items: center;
  text-align: center;
}

h1.landing {
  display: grid;
  justify-items: center;
  text-align: center;
}

h2.landing {
  display: grid;
  justify-items: center;
  text-align: center;
}

#app-button,
#disabled-app-button,
#text-button,
#freestyle-button {
  border: none;
  border-radius: 2px;
  outline: none;
  margin-bottom: 3px;
  background-color: var(--main-colour-dark);
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .6),
                inset -1px -1px 2px rgba(0, 0, 0, .6);
}

#app-button,
#disabled-app-button {
  padding: 5px 40px 5px 40px;
}

#text-button {
  padding: 5px 10px 5px 10px;
}

#freestyle-button {
  margin-top: 1rem;
  padding: 5px 10px 5px 10px;
}

#app-button:hover,
#text-button:hover,
#freestyle-button:hover {
  background-color: var(--main-colour);
}

#app-button:active,
#text-button:active,
#freestyle-button:active {
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .6),
                inset -1px -1px 2px rgba(0, 0, 0, .6);
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--main-colour-dark);
}

#seperator {
  margin-top: 1rem;
  border-top: solid 1px var(--ruler-colour);
}

#freestyle-form {
  display: grid;
  grid-template-columns: 1fr 10fr;
  padding: 1rem 0 0 0;
}

#freestyle-form label {  
  display: grid;
  place-items: center start;
}

#freestyle-form input {  
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  resize: none;
}

#freestyle-form textarea {  
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
}

#image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: var(--grid-gap);
  margin-top: 5px;
}

.image-button,
.image-button-image,
.image-button-active {
  border-radius: 2px;
}

.image-button,
.image-button-active {
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  margin: 2px;
  padding: 5px;
}

.image-button {
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .6),
                inset -1px -1px 2px rgba(0, 0, 0, .6);
}

.image-button:hover {
  background-color: var(--main-colour);
}

.image-button-active {
  box-shadow: inset 1px 1px 1px rgba(206, 9, 9, 0.6),
                inset -1px -1px 2px rgba(0, 0, 0, .6);
}

@media screen and (max-width: 768px) {

  body {
    margin: 1rem;
  }

  footer {
    grid-template-columns: 2fr 1fr;
    width: calc(100% - 2rem);
    grid-gap: var(--grid-gap);
    padding-top: 0.5rem;
  }

  footer #copyright {
    display: grid;
    place-items: start start;
    padding-left: 2rem;
  }

  footer #github {
    display: grid;
    place-items: start end;
    padding-right: 1rem;
  }

  header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: calc(100% - 2rem);
  }

  header > #title {
    display: grid;
    place-items: end start;
  }

  header > nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--grid-gap);
    place-items: end end;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0
  }

  /* Link {
    grid-template-columns: 1fr;
  } */
}

/* Effects Section */

#spinner {
  display: grid;
  place-items: start center;
  margin: 5px;
}

.spinner-2 {
  width:50px;
  height:50px;
  border-radius: 50%;
  border:8px solid;
  border-color: var(--main-colour-dark);
  border-right-color: var(--main-colour-light);
  animation: s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}

#heading-fadeIn {
  animation: headingFadeIn linear 2s;
}

@keyframes headingFadeIn {
  0% {opacity:0;}
  50% {opacity:0.5;}
  100% {opacity:1;}
}

#catchprhase-fadeIn {
  animation: catchprhaseFadeIn linear 4s;
}

@keyframes catchprhaseFadeIn {
  0% {opacity:0;}
  33% {opacity:0.5;}
  50% {opacity:0.75;}
  75% {opacity:1;}
  100% {opacity:1;}
}

#powered-fadeIn {
  animation: poweredFadeIn ease-in 8s;
}

@keyframes poweredFadeIn {
  0% {opacity:0;}
  33% {opacity:0.25;}
  66% {opacity:0.5;}
  83% {opacity: 1;}
  100% {opacity:1;}
}

#landing-button-fadeIn {
  animation: landingFadeIn linear 8s;
}

@keyframes landingFadeIn {
  0% {opacity:0;}
  75% {opacity:0;}
  100% {opacity:1;}
}

.fadeIn {
  animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
